/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
background-color: #ede9de;
}

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}
body {
  line-height: 1.5em;
  font-size: 1em;
  background-color: #fafaf3;
    color: #333;
width: 100%;
overflow-x: hidden !important;

}
a{
text-decoration: none;
    color: inherit;
}
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* Global Styling */
* { 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}
.white{
    color: white;
}
h1{
    font-size: 5em;
}
h2 {
  font-size: 3.5vw;
  line-height: 3.8vw;
}

.Reem, h2, h1, h3{font-family: 'Reem Kufi', sans-serif;}
 .tag, .menu, .bg-recruitment h2, .bg-recruitment p, .lead,  .event-date, .event-details, .hamburger-label, .Lato{font-family: 'Open Sans', sans-serif;}
.David, .event-date, .event-details, .membership, .about{font-family: 'Playfair Display', serif;  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; color: #3e3e49}
.Lora, .bg-recruitment h3{font-family: 'Lora', serif;}
/*Classes*/

.relative {
  position: relative;
}

.disablescroll {
  overflow: hidden;
}

.mobileonly {
  display: none;
}

.tag {
  position: relative;
  display: inline-block;
  padding: 0px 5px 0px 5px;
  border-radius: 2px;
 
  font-size: 0.7em;
  text-transform: uppercase;
  color: white;
  background-color: rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
}

.nodrag {
  pointer-events: none;
}

.nocursor {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nowrap {
  white-space: nowrap;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.wrapper {
  padding: 0 10% 0 10%;
    position: relative;
}

.hide {
  display: none;
}

.wrapper .wrapper {
  padding: 0;
}

.v-h-center {
  position: absolute;
  /* must be wrapped in relative parent div*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.v-center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.h-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.divider {
  position: relative;
  background-color: #fafaf3;
  width: 100%;
  height: 10px;

}

.delay {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 10000;
  position: fixed;
  top: 40px;
  text-align: center;

}

.delay2,
.delay3,
.delay4,
.delay5 {
  display: none;
}


/*Styling*/

#footer {
  position: relative;
  margin-top: 10px;
  padding: 50px 30px 0px 30px;
  width: 100%;
  height: 85px;
  color: #333;
  z-index: 1000;
 text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;

  z-index: -1;
}

#footer .object {
  width: 70px;
}



.nav-up {
  top:0;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.nav-down {
  top: 0px;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}



#menu {
  position: absolute;
  margin-top: 0;
  padding-top: 10px;
  width: 100%;
  height: 85px;
  color: #333;
  z-index: 1000;
background-color: transparent;
}

nav {
  float: right;
}

.menu li a {
  color: #424242;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.menu:hover,
.menu:hover li a {
  color: #dcdcdc;
}

.menu li a:hover {
  color: deeppink;
}

nav ul li {
  display: inline;
}

nav ul li a {
 
  padding: 25px 15px;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 0.6px;
}


.imglink {
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}
.logowrap {
  position: absolute;
  background-image: url(logo.svg);
  height: 70px;
  width: 170px;
  opacity: 0.8;
  top: 43px;
}

.logowrap:hover {
  background-image: url(logohover.gif);
background-size: contain;
    background-repeat: no-repeat;
}

#content {
  height: auto;
  width: 100%;
  top: 0px;
  background-color: #fafaf3;
  z-index: 5;
  position: relative;
  overflow: hidden;

}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[class*='col-'] {
  padding-right: 15px;
}

.no {
  padding-right: 0 ;
}

[class*='col-'] {
  float: left;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

.top {
  padding-top: 15px;
}

.bottom {
  padding-bottom:15px;
}




/* Card1 Styling */
#card1, #card2, #card3, #card4{
    position: relative;
    overflow: hidden; 
}

.caption {
  position: relative;
  width: 100%;
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
overflow: hidden;
}

.caption:hover {
  opacity: 0.65;

}

.module {
  width: 100%;
      border-radius: 5px;
    
}

#card1 .tag {
  position: absolute !important;
  left: 40px;
  top: 30px;
}

#card1 .caption {
  height: 25em;
    background-color: #ff5770;
}
#card1 #o-1 {
    position: absolute;
    right: -10px;
    bottom: -10px;
    width: 400px;
    z-index: 1;
}
#card1 #o-2 {
    position: absolute;
    top: 40px;
    left: 0;
    width: 480px;
    z-index: 1000;
}
#card1 .module {
      padding: 40px;
    position: absolute;
}

#card1 h2 {
  font-size: 5.3em;
  color: white;
    line-height: 0.9em;
    padding-top: 5%;
    padding-left: 40px;
position: relative;
    font-family: 'Kanit', sans-serif
}

#card1 .lead {
    position: absolute;
    text-align: left;
    bottom: 40px;
   padding-left: 40px;
  color: white;
line-height: 1.2em !important;
  font-size: 1em;
    z-index: 999;
}

#card1 .cta {
  color:white;
  font-size: 1.2vw;
  bottom: 50px;
 
  position: absolute;
}


/* Card2 Styling */

#card2 .module {
    position: absolute;
  padding: 40px;
}

#card2 .caption {
 background-color: #d8faff;
  height: 40em;
}

#card2 h2 {
  font-size: 4vw;
  letter-spacing: 0.01vw;
  color: whitesmoke;
 
}

#card2 .lead {
  color: whitesmoke;
  font-size: 1.5vw;
}
#card2 #o-1 {
    position: absolute;
    margin: auto;
  top: -10px;
  right: 0;
  bottom:0;
  left: 0;
    width: 45%;
    z-index: 1;
}
#card2 #o-2 {
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    z-index: 1000;
}
#card2 .btn {
  margin-top: 1.3vw;
}


/* Card3 Styling */

#card3 .module {
  position: absolute;
  padding: 40px;
  bottom: 0;
}

#card3 .caption {
  background-image: url(image3.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;
  height: 40em;
}

#card3 h2 {
  font-size: 3.5vw;
  letter-spacing: -0.2vw;
  color: #65726b;
 
}

#card3 .lead {
  color: #65726b;
  font-size: 1.25vw;
  letter-spacing: 0.01vw;
padding-top: 1vw;    
  line-height: 1.3em;
}

#card3 .btn {
  margin-top: 1.3vw;
}
/* Card5 Styling */

#card5 .module {
  position: absolute;
  padding: 40px;
  bottom: 0;
}

#card5 .caption {
  background-image: url(image5.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;
  height: 19vw;
}

#card5 h2 {
  font-size: 3.5vw;
  letter-spacing: -0.2vw;
  color: #65726b;
 
}

#card5 .lead {
  color: #65726b;
  font-size: 1.25vw;
  letter-spacing: 0.01vw;
padding-top: 1vw;    
  line-height: 1.2vw;
}

#card5 .btn {
  margin-top: 1.3vw;
}


/*Card4 Styling*/

#card4 .caption {
  background-color: #74acff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 25em;
  color: white;
  overflow: hidden;
}

#card4 h2 {
  position: relative;
  font-size: 3.5vw;
  letter-spacing: -0.1vw;
  line-height: 3.5vw;
  color: white;
 
  text-transform: uppercase;
  z-index: 10;
}

#card4 .lead {
  position: relative;
  font-size: 1.2vmax;
  letter-spacing: 0.02vw;
  line-height: 2vmax;
  z-index: 10;
}

#card4 .module {
  position: absolute;
  padding: 40px;
  z-index: 10;
}

#card4 .object {
  position: absolute;
  bottom: -180px;
    left: -90px;
  z-index: 1;
    transform: scale(1.4)
}


/* PAGE STYLES */
.index #content .wrapper{
    padding-top: 100px !important;
}
.bg-404 .divider,  .bg-404 #content, .bg-404 nav, .bg-404, .bg-404 #menu {
    background-color: #ffff66;
}
.bg-404 #textwrap{

    width: 100%;
}
.bg-404 h1{
        margin-top: 1vw;
    font-size:5.5vw;
    line-height: 5vw;
      
}

.bg-404 .lead{
    font-size: 10vw;
}
.bg-404 #content{
    padding-top: 200px;
    height: 90vh;
    padding-bottom: 200px;
}
.bg-404 a{
    color: royalblue;
    text-decoration: none;
}
.bg-404 a:hover{
    color: dimgray;
}
.right-mobile{
    text-align: right;
}
.left-mobile{
    text-align: left;
}


@media only screen and (max-width: 768px) {
        .right-mobile, .left-mobile{
        text-align: center;     
    }
         .bg-404 h1{
        margin-top: 5vw;
        font-size:10.5vw;
        line-height: 5vw;
          
    }
        .bg-404 .lead{
        font-size: 20vw;
            position: relative;
    }
        .bg-404 #content{
        padding-top: 200px;
        height: 90vh;
        padding-bottom: 200px;
    }  
}

.border{
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    border: solid 30px #fafaf3;
}
.bg-recruitment .divider,  .bg-recruitment nav,.bg-recruitment #menu,.bg-recruitment #content {
    background-color: #74acff;
}
.bg-recruitment .hero {
    position: relative;
    height:600px;
    overflow: hidden;
    padding-top: 200px;
}
.bg-events, .bg-events .divider,.bg-events #content{
    background-color:#fafaf3;
}

.bg-events #menu,.bg-events nav{
    background-color: #5ccbdd;
}
.events h1{
    color: #eb5565;
    font-size: 5em;
    line-height: 1em;
    font-family: 'Kanit', sans-serif;
}
.events .lead{

font-size: 1em;
     color: white;
}
.events .bottom{
    padding-bottom:50px ;
}
.events .top{
    padding-top:50px ;
}
.event-date{
    font-size: 1em;
}

.event-details{
        font-size: 1em;
    margin-top: -15px;
}
.events .card {
position: relative;
    
color: #333 !important;
  padding: 55px;
    -webkit-filter: grayscale(90%);
filter: grayscale(90%);
   -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}



.events .card:hover{
color: inherit !important;
    -webkit-filter: grayscale(0%);
filter: grayscale(0%);
}

.success{
    position: absolute;
    width: 200px;
top:45%;
    left: 25%;
    transform: rotate(15deg);
        -webkit-filter: grayscale(0%) !important;
filter: grayscale(0%) !important;
}
.event-svg {
width: 100%;
height: 100px
}

.bg-events .hero {
    position: relative;
    height: 600px;

    overflow: hidden;
    background-color: #5ccbdd;
    padding-top: 160px;
}
.bg-events #o-1{
    position: absolute;
    right:-200px;
    bottom: -100px;
    z-index: 1;
    opacity: 0.8;
}
.bg-events-details #menu,.bg-events-details nav,.bg-events-details #content , .bg-events-details, .events-details{
       background-color: cadetblue; 
}
 .bg-events-details  a{

        color: firebrick;
    }
.bg-events-details #content {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: cadetblue;
    padding-top: 100px;
    margin: 0;
}

.bg-events-details .side-a,
.bg-events-details .side-b {
    position: relative;
    height: 100vh;
}
.bg-events-details h1{
    font-size: 2.5vw;
    line-height: 1em;
        padding:10px 0;
}
.bg-events-details .price{
        font-style: italic;
}
.bg-events-details p{
    padding-top: 10px;
    font-size: 0.95em;
    
}
#goback {
    position: fixed;
    text-align: center;
    background-color: #eb5565;
    border-radius: 50%;
    width:55px;
    height: 55px;
    bottom: 55px;
    left: 65px;
    z-index: 100;
            -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.hover {
    position: absolute;
    bottom: 15px;
    right: -140px;
    opacity: 0;
    font-size: 1em;
    color: #eb5565;
                -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
#goback:hover .hover{
    opacity: 1;
}
#goback:hover{
       bottom: 60px; 
        background-color: white;
}
#goback:hover .triangle{
        border-right:  #eb5565 8px solid; 
    border-bottom:  #eb5565 8px solid;
}

.triangle {
    position: absolute;
    border-right: white 8px solid; 
    border-bottom: white 8px solid;
    width: 20px; height: 20px;
    transform: rotate(135deg);
    top: 17px;
    left: 20px;
}
.bg-events-details .card{
    position: relative;
    height: 30vw;
    width: 100%;
    padding: 40px;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1;
    
}
.bg-events-details .float{
    position: absolute;
    top:-5%;
    z-index: 1000;
}
.bg-events-details h2{
    font-size: 7vw;
color: white;
    
}
.scroll-pane
{
	width: 100%;
	height: 200px;
	overflow: auto;
}
.horizontal-only
{
	height: auto;
	max-height: 200px;
}
.bg-events-details #content .v-center {
  position: absolute;
  top: 30%;
  transform: translate(0, -30%);
}

.bg-events-details .btn{
    padding: 1vw 0.5vw;
    font-size: 0.9vw;
    border: 1px solid red;
    border-radius: 5px;
width: 100%;
    text-align: center;
}
.bg-events-details #img{
    height: 35vw;
    width: 50vw;
    background-color: #47599e;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
   -webkit-filter: sepia(0.3);
    filter: sepia(0.3);

}
 .bg-mt-details #menu, .bg-mt-details nav, .bg-mt-details #content ,.bg-mt-details, .mt-details{
       background-color: #a7eff8; 
}
.bg-mt-details .hero{
min-height: 100vh;
padding-bottom: 50px !important;
}
.bg-mt-details .card{
    text-align: center
}
.bg-mt-details .herowrap{
  padding-top: 5% !important;
}
.bg-mt-details h1{
    font-size: 3em;
    line-height: 1em;
    padding-bottom: 0px;
    color: #528c8e;
}
.bg-mt-details h2{
    font-size: 1.3em;
        line-height: 1em;
    color: #ed7f4e;
    padding-top: 40px;
}
.bg-mt-details h3{
    font-size: 1.3em;
        line-height: 1em;
    color: #ed7f4e;

}
.bg-mt-details .language{
    padding-top: 5px;
    color: white;
    padding-bottom: 60px;
}
.bg-mt-details .languagewrap{
    
padding: 5px 10px;
    background-color: #35cde5;
}
.bg-mt-details p{
    padding-top: 0.4em;
    font-size: 1.1em;
    letter-spacing: 0.05em;
        line-height: 1em;
    color: #528c8e;
font-family: 'Open Sans', sans-serif;
}
.bg-mt-details .lead{
    padding-top: 0.4em;
    font-size: 1em;
    letter-spacing: 0.01em;
        line-height: 1.3em;
    color: #528c8e;
font-family: 'Open Sans', sans-serif;
}
.bg-mt-details .accent{
    color:#2e575e
}
.bg-mt-details .img{
     height:85%;
}
.bg-mt-details .btn{
    background-color: white;
    color: #ed7f4e;
    margin-top: 45px;
    font-size: 0.8em;
    padding: 15px 15px;
    letter-spacing: 0.2em;
  
text-shadow:none !important;

border:none !important;

box-shadow:none !important;
                -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.bg-mt-details .btn:hover{
        background-color: #ed7f4e;
    color: white;
    
}
@media only screen and (max-width: 780px) {
    
    .bg-mt-details .herowrap{
  padding-top: 0!important;
}
    .bg-mt-details .img{
     width: 70%;
        padding: 30px 0;
}
.bg-events-details #content {
    position: relative;
    height: auto;
    overflow: visible;
    background-color: cadetblue;
    padding-top: 150px;
    margin: 0;
}
.bg-mt-details .card{
    text-align: center
}
.bg-events-details .side-a,
.bg-events-details .side-b {
    position: relative;
    height: auto;
}
.bg-events-details h1{
    font-size: 1.5em;
}
.bg-events-details .price{
        font-style: italic;
}
.bg-events-details p{
    padding-top: 10px;
    font-size: 1em;
    
}
#goback {
    position: fixed;
    text-align: center;
    background-color: #eb5565;
    border-radius: 50%;
    width:35px;
    height: 35px;
    bottom: 30px;
    left: 30px;
    z-index: 100;
    
            -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.hover {
    position: absolute;
    bottom: 5px;
    right: -130px;
    opacity: 0;
    font-size: 1em;
    color: #eb5565;
                -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    
}
#goback:hover .hover{
    opacity: 1;
}
#goback:hover{
       bottom: 60px; 
        background-color: white;
}
#goback:hover .triangle{
        border-right:  #eb5565 5px solid; 
    border-bottom:  #eb5565 5px solid;
}
    .no-wrap-mobile{
        padding: 0 !important;
    }
.triangle {
    position: absolute;
    border-right: white 5px solid; 
    border-bottom: white 5px solid;
    width: 15px; height: 15px;
    transform: rotate(135deg);
    top: 10px;
    left: 13px;
}
.bg-events-details .card{
    position: relative;
    height: auto;
    width: 100%;
    padding: 40px;
    background-color: white;
    z-index: 1;
    overflow: visible;
}
.bg-events-details .float{
    position: absolute;
    top:-1%;
    z-index: 1000;
}
.bg-events-details h2{
    font-size: 15vw;
color: white;
    
}
.bg-events-details #content .v-center {
  position: relative;
  top: 0;
  transform: translate(0, 0);
}
.bg-events-details .btn{
    padding: 1vw 0.5vw;
    font-size:1em;
    border: 1px solid red;
    border-radius: 5px;
width: 100%;
    text-align: center;
}
.bg-events-details #img{
    display: block;
    height: 250px;
    width: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.9;

}
}
.bg-about .hero {
    position: relative;
    height: 600px;
    overflow: hidden;
    background-color: #fff579;
    padding-top: 180px;
}

.bg-about #menu,.bg-about nav, .bg-about, .bg-about .divider{
    background-color: #fff579;
}
.bg-about #content{
    background-color:#fafaf3;
}
.about .grid .wrapper{
    padding-top: 100px;
}
.about h1{
    color: #698391;
    font-size: 3em;
    line-height: 1.8em;

}
.about h2{

    color: #193248;
    font-size: 1.8em;
    line-height: 1em;

}
.about p{
    font-size:1.2em;
    color:#193248;
    line-height: 1.6em;
    
}
.about .accent {
    font-family: 'Reem Kufi', sans-serif;

}
.about .hero .accent1{
    color:#65bceb;
    font-size:2.25em
}
.about .o-1{
position:absolute;
    width:600px;
    right:0;bottom:-300px;
}
.about .overlay-wrap{
    width:100%;height:400px;position:relative;}
.about .overlay{
    position:absolute; width:100%;background-color:#65bceb; top:-75px;padding:100px 200px;color:white; font-size:1.5em;line-height:1.5em;
}
.about .overlay .accent{
font-size: 2.3em;
}
.about .card .accent{
    font-family: inherit;
    color: #65bceb;
}
.about .card{
padding-bottom: 100px;

}
.about .part2 h1{
    color:#65bceb;
    font-size: 5em;
}
.exec{
     width: 175px;
    height: 175px;
    padding: 25px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
        padding: 35px;
    color:;
}
    .about #content{
        padding-bottom: 100px;
    }
@media only screen and (max-width: 780px) {
    .about .overlay{
    top:-75px;padding:100px 20px;color:white; font-size:1.1em;line-height:1.5em;
    }
    .about .overlay-wrap{
    width:100%;height:370px;position:relative;}
  .about .overlay .accent{
font-size: 2.5em;
}
    .about .hero {
        padding-top: 120px !important;
        
    }
    .about p{
        font-size: 1em;
        padding-top: 20px;
    }
.exec{
     width: 100px;
    height: 100px;
    padding: 15px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
    .caption {
    display: block;
 font-family: 'Open Sans', sans-serif;
        font-size: 0.8em;
    color:#193248;
}
div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
        padding: 10px;
}
.about h1{
    padding-top: 0px;
    text-align: center;
        font-size: 13vw;
    }
    .about .part2 h1{
    font-size: 3em;
}
    .about .o-1{
display: none;
    }
}
.membership [class*='col-'] {
  padding-right: 50px;
}
.membership .lead{
    font-size: 1em;
}
.membership .heading{
    padding-bottom: 90px;
    text-align: center;
}

.membership .hero{
background-color: #4ecabf;
padding-top: 150px;
overflow: hidden;
}
.membership .hero2{
background-color: #f1f26f;
padding-top: 200px;
overflow: hidden;
}
.membership .hero2 h3{
    font-size: 3em;
    line-height: 1em;
}
.membership .sub-card .o-5{
    position: absolute;
  top: 50%;
  transform: translateY(-65%);
    left: -100px;
    width: 120%;
}
.membership h1{
    line-height: 1em;
    color: white;
font-size:  4.6em;

}
.membership h2{
    font-size: 3em;
    line-height: 1em;
    color: #333;
}
.membership h3{
    font-size: 2em;
        line-height: 1em;
    position: relative;
    z-index: 1000;
}
.membership p{
    padding: 20px 0;
    font-size:1.1em;
    color:#193248;
    line-height: 1.6em;
        position: relative;
    z-index: 1000;
}
.membership .card{
    position: relative;
    padding: 100px 0;
}
.membership .sub-card{
    padding-bottom: 100px !important;
min-height: 300px;
    position: relative;
}
.membership .btn{
    padding: 20px 15px;
    background-color: #e69ca4;
    color: white;
 cursor: pointer; cursor: hand;
        -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.membership .number-odd{
    position: absolute;
    color: #f4e8e4;
    left: -25px;
    top: -15px;
    z-index: 1;
    font-size: 10em;

}
.membership .number-even{
    position: absolute;
    color: #f4e8e4;
    right: -25px;
    top: -15px;
    z-index: 1;
    font-size: 10em;

}
.membership .btn:hover{
color: #e69ca4;
    background-color: white;
}
.membership .accent{
color: #e69ca4
}
.membership .padding-top{
    padding-top: 90px !important;
}
.membership .o-1{
    position: absolute;
    width: 900px;
    bottom: 50px;
    right:-25vw;
    z-index: 1;
}
.membership .o-2{
    color: white;
    position: absolute;
    bottom: 0;
    right: 0px;
}
.membership .o-3{
    position: relative;
    height: 420px;

}
    .membership .o-4{
        display: none;
    }
.membership .o-5{
    position: relative;
    z-index: 1000;
    text-align: left
}
@media only screen and (max-width: 780px) {
     .membership nav, .membership #menu{
      background-color: #4ecabf;
}
 .membership h1{
    line-height: 1em;
font-size:  2.6em;
}
    .membership .btn{
        padding: 15px 10px;
    }
    .membership .o-1{
  display: none;
}
    .membership .o-3{
    position: relative;
}
    .membership .o-4{
display: inline;
        position: absolute;
        bottom: 80px;
        width: 100%;
    }
    .membership .o-5{
    text-align: center
}
}

.caption {
    display: block;
font-family: 'Open Sans', sans-serif;
}
.bg-contact, .bg-contact .divider .bg-contact nav,.bg-contact  #menu,.bg-contact  #content{
      background-color: #f8f8d8;
}
.bg-contact #content{
    padding-top: 140px;
}
.bg-contact p{
    color: #af6349;
    padding-left: 20px;
    font-size: 1.6vw;
    line-height: 1.2em;
}
.bg-contact a {
    text-decoration: underline;
}
.bg-contact h1{
    font-size: 6.4vw;
  padding: 0 0 70px 0;
    color: #af6349;
    line-height: 1em;
}
.bg-contact .lead{
        color: white;
    font-size: 0.95em;
}
.bg-contact .module{
        padding: 0px 40px 0px 0px;

}
.bg-contact #content .wrapper{
    padding: 0 25% 0 25%;
}
.bg-events #card1 .caption {
  
}
.bg-events #card1 h2, .bg-events #card1 .lead{
    color: white;
}
.bg-recruitment {
    background-color: white;
}
.bg-recruitment .content2 .wrapper{

    padding: 0 7.5% 0 7.5%;
  
}
.hero {
position: relative;
   height: 600px;
    padding-top: 80px;
}
.bg-recruitment h1{
        margin-top: 1vw;
    font-size:5.5vw;
    line-height: 5vw;

    color: white;
}
.bg-recruitment h2{
 color: #47515b;
    font-size: 1.3em;
color: #333;
    line-height: 20px;
}
.bg-recruitment h3{
 color: #47515b;
    font-size: 3.3em;
    line-height: 1.2em;
    padding: 100px 0 15px 0;

}
 .content2{
    position:relative;
    background-color:white !important ;
    min-height: 100%;
}
.bg-recruitment .lead{
    font-size: 1.3vw;
    color: aliceblue;
   
}
.bg-recruitment .lead2{
    font-size: 1em;
padding-bottom: 50px;
   
}
.bg-recruitment p{
    font-size: 1em;
    color: #676f78;
    line-height: 1.3em;
    padding-top: 20px;
    
}
.bg-recruitment .cta{
    display: block;
    color: #72b1d2;
    text-decoration: none;
  padding: 20px;
}
.bg-recruitment .featured p{
        font-size: 1.1em;
    color:aliceblue;
}
.bg-recruitment #content{

 

}
.bg-recruitment  [class*='col-'] {
  padding-right: 40px;
}
.bg-recruitment .top{
    padding-top: 40px;
}
.bg-recruitment .bottom{
    padding-bottom: 40px;
}
.no {
    padding-right: 0px !important;
}

.bg-recruitment .module{
    padding: 40px;
    height: 200px;
    text-align: center;
border: solid 1px #d2d6d9;
    border-radius: 5px;
    background-color: white;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
.subtext{
    font-size: 0.8em;
}

.bg-recruitment .featured{
    position:absolute; 
    top:-60px;
     padding: 140px;
width: 100%;
    text-align: center;
    color: white;
    background-color: #f8875a;

}


.ballonwrap {
    position: absolute;
    top: -80px;
    transform: scale(7);
    z-index: -1;
    width: 100%;
}

/* END OF PAGE COLORS */


@media (min-width:780px) and (max-width:1200px) {
  .wrapper {
    padding: 0 4.5% 0 4.5%;
  }
    
  #card4 .lead {
    position: relative;
    font-size: 1em;
    letter-spacing: 0.02vw;
    z-index: 10;
  }
    #card4 .lead{
    line-height: 1.3em;
        font-size: 0.8em;
    }
   .notablet {
       display: none !important;
}
}
@media (min-width:500px)and (max-width: 780px) {
      .wrapper {
    padding: 0 7.5% 0 7.5% !important;
  }

}
@media only screen and (max-width: 780px) {
    
#content {
padding-top: 0;
}
.bg-contact h1{
    font-size: 20.4vw;
  padding: 70px 0 0px 0;
    color: #af6349;
    line-height: 1em;
}
    .bg-contact p{
        font-size: 1em;
    }
    .bg-contact #content{
    padding-top: 70px;
}
#card1 #o-1 {
    position: absolute;
    right: -50px;
    bottom: -100;
    width: 80vw;
    z-index: 1;
    opacity: 0.5;
}

#card1 #o-2 {
    position: absolute;
    left: 0;
    width: 80vw;
    z-index: 1000;
}
    #card2 #o-1 {
    position: absolute;
    top: -20px;

    width: 40%;
    z-index: 1;
}
    #card2 #o-2 {
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    z-index: 1000;
}
    .bg-contact p{
    color: #af6349;
    padding-left: 0;
text-align: center;
}
  /* For mobile phones: */
    form {

    font-size: 3vw !important;

}
    .hero{
            transition: height 999999s !important;
    }
.events .card{
    padding-top: 120px !important;
    -webkit-filter: grayscale(0%);
filter: grayscale(0%);

    }
    .event-svg {
width: 80%;
height: 100px
}
    
    .ballonwrap {
display: none;
}
 .contact .module{
        padding: 0 !important;
    }
  .nomobile {
    display: none;
  }
  .mobileonly {
    display: block!important;
  }

  .nav-up {
    top: -90px !important;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  .nav-down {
    top: 0px !important;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }

  #menu {
    position: fixed;
    z-index: 100;
      top: 0;
      height: 60px;
      margin-top: 0;
  padding-top: 0px;
     background-color: inherit;
  }
  .colorless {
    background-color: transparent!important;
  }
  nav {
    position: fixed;
    height: 150%;
    right: -1000px;
    top: 0;
    background-color: #fafaf3;
    width: 50%;
    z-index: 12;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  #darkness {
    position: fixed;
    background-color: black;
    top: 0;
    width: 100%;
    height: 140%;
    z-index: 11;
    opacity: 0.75;
    display: none;
  }
  .displaynone {
    opacity: 0;
    display: none;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
  }
  .slidein {
    right: 0;
  }

  nav ul {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 170px;
    height: 100%;
    text-align: right;
    top: 105px;
    right: 0;
    z-index: 2000;
  }
  nav ul li a {
    position: relative;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 1.3em;
font-family: 'Reem Kufi', sans-serif;
    letter-spacing: 0.3px;
    z-index: 2000;
  }
  #menu .menu-toggle {
    position: absolute;
    top: 13px;
    right: 25px;
    cursor: grab;
    z-index: 10000;
  }
    .logowrap {
  position: absolute;
  background-image: url(logo.svg);
  height: 70px;
  width: 170px;
  opacity: 0.8;
  top: 35px;
background-size: 170px  ;
        background-repeat: no-repeat;
}

  .logowrap:hover {
    background-image: url(logo.svg);

  }
  .hamburger {
    position: absolute;
    outline: none !important;
    right: 1px;
      top: -13px;
       -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform:scale(0.8);
    -o-transform: scale(0.8);
    }
  .hamburger-label {
    text-transform: uppercase;
color: #333;
    font-size: 8px;
    position: absolute;
    right: 0;
      top: 3px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
  }
  [class*="col-"] {
    width: 100%;
    padding: 0 !important;
  }
  .bottom,
  .top {
    padding: 0;
  }
    
  .wrapper {
    padding: 0 25px 0 25px !important;
  }
  .caption {
    border-radius: 0;
      width: 100%;
      height: 100%;
      position: relative;
  }
  .tag {
    font-size: 0.5em;
  }
  #card1 .tag {
    display: none;
  }
  #card1 .caption {
    height: 80vw;

  }
  #card1 h2 {
      position: relative;
    font-size: 14vw;
      line-height: 1em;
      padding-top: 10vw;
    padding-bottom: 5vw;
      z-index: 100;
  }
  #card1 .lead {
    line-height: 1em;
    font-size: 3vw;
      padding-right: 60px;

  }
  #card1 .cta {
    font-size: 4vw;
    bottom: 50px;
   
    position: absolute;
  }
  /* Card2 Styling */
  #card2 .module {
    padding: 40px;
  }
  #card2 .caption {
background-color: #d8faff;
    height: 80vw;
  }
  #card2 h2 {
    font-size: 8vw;
    letter-spacing: 0.01vw;
    color: whitesmoke;
   
  }
  #card2 .lead {
    color: whitesmoke;
    line-height: 10vw;
    font-size: 5.5vw;
  }
  #card2 .btn {
    margin-top: 1.3vw;
  }
  /* Card3 Styling */
  #card3 .module {
    position: absolute;
    padding: 40px;
    bottom: 0;
  }
  #card3 .caption {
    background-image: url(image3.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 95vw;
  }
  #card3 h2 {
    font-size: 8.5vw;
    letter-spacing: -0.2vw;
    color: #65726b;
   
    line-height: 8vw;
  }
  #card3 .lead {
    color: #65726b;
      padding-top: 1em;
    font-size: 3vw;
    letter-spacing: 0.01vw;
    line-height: 4.5vw;
  }
  /*Card4 Styling*/
  #card4 .caption {
  background-color: #74acff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 95vw;
    color: white;
    overflow: hidden;
  }
  #card4 h2 {
    position: relative;
    font-size: 9vw;
    letter-spacing: -0.1vw;
    line-height: 1em;
    color: white;
   
    text-transform: uppercase;
    z-index: 10;
  }
  #card4 .lead {
    position: relative;
    font-size: 3.5vw;
    letter-spacing: 0.02vw;
    line-height: 4vw;
    z-index: 10;
  }
  #card4 .module {
    position: relative;
    padding: 40px;
    z-index: 10;
  }
  #card4 .object {
    position: absolute;
    bottom: -180px;
    z-index: 1
  }
  .imglink {
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
  }
  .imglink:hover {
    opacity: 0.65;
  }
    .bg-index #menu{
        background-color:red;
    }
    .bg-recruitment h1{
    font-size:13.4vw;
    line-height: 14vw;

}
.bg-recruitment h2{
 
    font-size: 6.3vw;
}

.bg-recruitment .lead{
    font-size: 4.3vw;
}

.bg-recruitment .spacer{
    width: 100%;
    height: 10vw;
}
.bg-recruitment .module{
    padding: 20px 5px 20px 5px;
    min-height: 200px;
    border-radius: 0;
border: none;
}
 .bg-events #o-1{
    position: absolute;
    right:0px;
    bottom: -40px;
    z-index: 1;
     width: 105%;
    opacity: 0.8;
}   
.hero{
    padding-top: 150px !important;
    height: 100vh!important ;
}  
    .bg-mt-details .hero{
          padding-top: 75px !important;
    }
  .mobile-v-h-center {
  position: absolute;
  /* must be wrapped in relative parent div*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mobile-v-center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.mobile-h-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
    .mobile-text-align-center{
        text-align: center;
    }
    .mobile-text-align-left{
        text-align: left;
    }
 .bg-events h1{
    font-size: 14vw;
}   
    .bg-event card{
        
    
    }

}

/** FORM STYLING **/

form {
  box-sizing: border-box;
  width: 100%;
  margin: 25px auto 0;
  padding-bottom: 40px;
  border-radius: 3px;
    font-size: 1em;

}

 input::-webkit-input-placeholder,  textarea::-webkit-input-placeholder, .contact button {
 font-family: 'roboto', sans-serif;
 -webkit-transition: all 0.3s ease-in-out;
 transition: all 0.3s ease-in-out;
         color: #abaf49;
}


input, textarea {
  margin: 40px 25px;
  width: 100%;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #af6349;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #af6349 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #af6349 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: #0e6252;
        font-size: 1.5em;
     font-family: 'roboto', sans-serif;
}

input:focus, input:valid,  
textarea:focus, textarea:valid{
 box-shadow: none;
 outline: none;
 background-position: 0 0;
    
}
input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder, 
textarea:focus::-webkit-textarea-placeholder, textarea:valid::-webkit-textarea-placeholder{
 color: #af6349;
 font-size: 11px;
 -webkit-transform: translateY(-20px);
 transform: translateY(-20px);
 visibility: visible !important;
    
}

.contact button {
  border: none;
    font-size: 0.9em;
  background: #af6349;
  cursor: pointer;
  border-radius: 3px;
  padding: 15px;
  width: 100px;
  color: white;
  margin-left: 25px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.contact button:hover {
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}

.contact input{
  margin: 40px 0;
  width: 100%;
    height: 80px;
  display: block;
  border: none;
  padding: 40px 0;
  border-bottom: solid 1px #af6349;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #af6349 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #af6349 4%);
  background-position: -1000px 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #af6349;
}

 .contact textarea{
  margin: 40px 0;
  width: 100%;
    height: 280px;
  display: block;
  border: none;
  padding: 40px 0;
  border-bottom: solid 1px #af6349;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 99%, #af6349 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 99%, #af6349 4%);
  background-position: -1000px 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #af6349;
        resize: none;
      font-family: 'roboto', sans-serif;
}

.contact input:focus, input:valid,  
textarea:focus,  textarea:valid{
 box-shadow: none;
 outline: none;
 background-position: 0 0;
    
}
.contact input::-webkit-input-placeholder, 
.contact textarea::-webkit-textarea-placeholder{
 font-family: 'roboto', sans-serif;
 -webkit-transition: all 0.3s ease-in-out;
 transition: all 0.3s ease-in-out;
}

.contact input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder,
 textarea:focus::-webkit-input-placeholder, textarea:valid::-webkit-input-placeholder{
 color: #af6349;
 font-size: 0.9em;
 -webkit-transform: translateY(-40px);
 transform: translateY(-40px);
 visibility: visible !important;
}

/*
 * Keyframes
 */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

}
/*
 * CSS Page Transitions
 * Don't forget to add vendor prefixes!
 */
.m-scene {
  /** Basic styles for an animated element */
  /** An element that fades in */
  /** An element that fades in and slides up */
  /** An element that fades in and slides from the right */
}
.m-scene .scene_element {
  -webkit-animation-duration: 0.25s !important;
          animation-duration: 0.25s !important;
  -webkit-transition-timing-function: ease-in !important;
          transition-timing-function: ease-in !important;
  -webkit-animation-fill-mode: both !important;
          animation-fill-mode: both !important;
}
.m-scene .scene_element--fadein {
  -webkit-animation-name: fadeIn !important;
          animation-name: fadeIn !important;
}
.m-scene .scene_element--fadeinup {
  -webkit-animation-name: fadeInUp !important;
          animation-name: fadeInUp !important;
}
.m-scene .scene_element--fadeinright {
  -webkit-animation-name: fadeInRight !important;
          animation-name: fadeInRight !important;
}