/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(Preloader.gif) center no-repeat #fff;
}


body {
  line-height: 1.5em;
  font-family: 'David Libre', serif;
  font-size: 1em;
  background-color: #fafaf3;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* Global Styling */

h2 {
  font-size: 3.5vw;
  line-height: 3.8vw;
}


/*Classes*/

.relative {
  position: relative;
}
.disablescroll{
    overflow: hidden; 
}
.mobileonly{
    display: none;
}

.tag {
  position: relative;
  display: inline-block;
  padding: 0px 5px 0px 5px;
border-radius: 2px;
  font-family: 'Lato', sans-serif;
  font-size: 0.7em;
  text-transform: uppercase;
    color: white;
    background-color: rgba(0,0,0,0.15);

    margin-bottom: 10px;
}

.nodrag {
  pointer-events: none;
}

.nocursor {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nowrap {
  white-space: nowrap;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.wrapper {
  padding: 0 9% 0 9%;
}
.hide{
    display: none;
}

.wrapper .wrapper {
  padding: 0;
}

.v-h-center {
  position: absolute;
  /* must be wrapped in relative parent div*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.v-center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.h-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.divider {
  position: relative;
  background-color: #fafaf3;
  width: 100%;
  height: 10px;
  ;
}

.delay {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 10000;
  position: fixed;
  top: 40px;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.delay2,
.delay3,
.delay4,
.delay5 {
  display: none;
}


/*Styling*/
#footer {
  position: relative;
    margin-top: 10px;
  padding: 30px;
  width: 100%;
  height: 85px;
  color: #333;
  z-index: 1000;
font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;
    z-index: -1;
}
#footer .object{
    width: 90px;
}

#top-menu {
  height: 50px;
  width: 100%;
  background-color: rgba(245, 245, 245, 0.90);
  font-family: 'Lato', sans-serif;
  font-size: 0.7em;
  text-transform: uppercase;
  letter-spacing: 0.001em;
  line-height: 55px;
  position: fixed;
  bottom: 0;
  z-index: 10;
}

#menu {
  position: relative;
    margin-top: 30px;
  padding-top: 10px;
  width: 100%;
  height: 85px;
  color: #333;
  background-color: #fafaf3;

}

nav {
  float: right;
}

.menu li a {
  color: #424242;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.menu:hover,
.menu:hover li a {
  color: #dcdcdc;
}

.menu li a:hover {
  color: deeppink;
}

nav ul li {
  display: inline;
}

nav ul li a {
  font-family: 'Lato', sans-serif;
  padding: 25px 15px;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 0.6px;
}

.logowrap {
  background-image: url(logo.svg);
  height: 70px;
  width: 170px;
  opacity: 0.8;
}

.imglink {
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}



.logowrap:hover {
  background-image: url(logohover.gif);
}

#content {
  height: auto;
  width: 100%;
  top: 0px;
  background-color: #fafaf3;
  z-index: 5;
  position: relative;
  overflow: hidden;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[class*='col-'] {
  padding-right: 15px;
}

.no {
  padding-right: 0;
}

[class*='col-'] {
  float: left;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

.top {
  padding: 15px 0 0 0;
}

.bottom {
  padding: 0 0 15px 0
}


/* Card1 Styling */

.caption {
  position: relative;
    width: 100%;
            border-radius: 5px;
     -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}
.caption:hover{
  opacity: 0.65;

}
.module {
  width: 100%;
}
#card1 .tag{
    position: absolute !important;
    left: 40px;
    top: 30px;
}
#card1 .caption {

  background-image: url(image1.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: right bottom;
  height: 320px;
}

.caption:hover{
-webkit-box-shadow: 0px 0px 11px -1px rgba(196,172,183,1);
-moz-box-shadow: 0px 0px 11px -1px rgba(196,172,183,1);
box-shadow: 0px 0px 11px -1px rgba(196,172,183,1);

}

#card1 .module {}

#card1 h2 {
  font-size: 5vw;
  color: #b55252;

}

#card1 .lead {
  color: #b55252;
    line-height: 40px;
  font-size: 1.5vw;
}
#card1 .cta{
      color: #b55252;
      font-size: 1.2vw;
    bottom: 50px;
      font-family: 'Lato', Sans-serif;
position: absolute;
}



/* Card2 Styling */

#card2 .module {
  padding: 40px;
}

#card2 .caption {
  background-image: url(image2.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
      background-position: center center;
  height: 600px;
}

#card2 h2 {
  font-size: 4vw;
  letter-spacing: 0.01vw;
  color: whitesmoke;
  font-family: 'Lato', Sans-serif;
}

#card2 .lead {
  color: whitesmoke;
  font-size: 1.5vw;
}

#card2 .btn {
  margin-top: 1.3vw;
}


/* Card3 Styling */

#card3 .module {
  position: absolute;
  padding: 40px;
  bottom: 0;
}

#card3 .caption {
  background-image: url(image3.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    background-repeat: no-repeat;
      background-position: bottom left;
  height: 600px;
}

#card3 h2 {
  font-size: 3.5vw;
  letter-spacing: -0.2vw;
  color: #65726b;
  font-family: 'Lato', Sans-serif;
}

#card3 .lead {
  color: #65726b;
  font-size: 1.25vw;
  letter-spacing: 0.01vw;
  line-height: 1px;
}

#card3 .btn {
  margin-top: 1.3vw;
}


/*Card4 Styling*/

#card4 .caption {
  background-color: #72b1d2;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
  color: white;
    overflow: hidden;
}

#card4 h2 {
    position: relative;
  font-size: 3.5vw;
  letter-spacing: -0.1vw;
    line-height: 3.5vw;
    color: white;
  font-family: 'Lato', Sans-serif;
    text-transform: uppercase;
    z-index: 10;
}

#card4 .lead {
position: relative;
  font-size: 1.2vw;
  letter-spacing: 0.02vw;
  line-height: 1px;
        z-index: 10;
}

#card4 .module {
        position: relative;
    padding: 40px;
        z-index: 10;
}
#card4 .object{
    position: absolute;
    bottom: -180px;
    z-index: 1
}












@media (min-width:768px) and (max-width:1200px) {
 
  .wrapper {
  padding: 0 4.5% 0 4.5%;
}
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    
    .nomobile{
        display: none;
    }
    .mobileonly{
        display:block!important;
    }
    nav {
        position: fixed;
        height: 100%;
        right:-1000px;
        top:0;
        background-color: white;
        width: 50%;
        z-index: 2000;
-moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
        
    }
    .slidein{
        right:0;
    }
nav ul {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 170px;
    background-color: white;
    height: 100%;
    text-align: right;
    top: 45px;
     right:0;
    z-index: 2000;
}

    nav ul li a {
  font-family: 'Lato', sans-serif;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 0.9em;
  letter-spacing: 0.6px;
}
    .menu-toggle{
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: grab;
    }
    #darkness{
        position: fixed;
        background-color: black;
        top:0;
        width: 100%;
        height: 100%;
        z-index: 100;
        opacity: 0.75;

    }
    .displaynone{
        opacity: 0;
        display: none;
         -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
    }
    [class*="col-"] {
        width: 100%;
          padding: 0 ;
    }
    .bottom, .top{
        padding: 0;
    }
    .wrapper {
  padding: 0 25px 0 25px;
}
    
    
    .caption{
        border-radius: 0;
    }    
    .tag{
        font-size: 0.5em;
    }
    #card1 .tag{
display: none;
}
#card1 .caption {
  height: 95vw;
  background-position: left bottom;
}

#card1 h2 {
  font-size: 10.5vw;
  color: #b55252;
    padding-bottom: 7vw;
}

#card1 .lead {
  color: #b55252;
    line-height: 2vw;
  font-size: 4vw;
}
#card1 .cta{
      color: #b55252;
      font-size: 4vw;
    bottom: 50px;
      font-family: 'Lato', Sans-serif;
position: absolute;
}



/* Card2 Styling */

#card2 .module {
  padding: 40px;
}

#card2 .caption {
  background-image: url(image2.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 95vw;
}

#card2 h2 {
  font-size: 8vw;
  letter-spacing: 0.01vw;
  color: whitesmoke;
  font-family: 'Lato', Sans-serif;
}

#card2 .lead {
  color: whitesmoke;
    line-height: 10vw;
  font-size: 5.5vw;
}

#card2 .btn {
  margin-top: 1.3vw;
}


/* Card3 Styling */

#card3 .module {
  position: absolute;
  padding: 40px;
  bottom: 0;
}

#card3 .caption {
  background-image: url(image3.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 95vw;
}

#card3 h2 {
  font-size: 8.5vw;
  letter-spacing: -0.2vw;
  color: #65726b;
  font-family: 'Lato', Sans-serif;
    line-height: 8vw;
}

#card3 .lead {
  color: #65726b;
  font-size: 3.5vw;
  letter-spacing: 0.01vw;
  line-height: 6vw
}



/*Card4 Styling*/

#card4 .caption {
  background-color: #72b1d2;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 95vw;
  color: white;
    overflow: hidden;
}

#card4 h2 {
    position: relative;
  font-size:9vw;
  letter-spacing: -0.1vw;
    line-height: 1em;
    color: white;
  font-family: 'Lato', Sans-serif;
    text-transform: uppercase;
    z-index: 10;
}

#card4 .lead {
position: relative;
  font-size: 3.5vw;
  letter-spacing: 0.02vw;
  line-height: 5.5vw;
        z-index: 10;
}

#card4 .module {
        position: relative;
    padding: 40px;
        z-index: 10;
}
#card4 .object{
    position: absolute;
    bottom: -180px;
    z-index: 1
}
    .imglink {
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

.imglink:hover {
  opacity: 0.65;
}
}