/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(Preloader.gif) center no-repeat #fff;
}

@keyframes slidein {
  0% {
    opacity: 0;  
    margin-top: 70%;
    }
  100% {
      opacity: 1;
    margin-top: 0;
  }
}

body {
  line-height: 1.5em;
  font-family: 'David Libre', serif;
  font-size: 1em;
  background-color: #fafaf3;
animation: slidein 0.6s ease-out;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* Global Styling */

h2 {
  font-size: 3.5vw;
  line-height: 3.8vw;
}


/*Classes*/

.relative {
  position: relative;
}

.tag {
  position: relative;
  display: inline-block;
  padding: 0px 5px 0px 5px;
border-radius: 2px;
  font-family: 'Lato', sans-serif;
  font-size: 0.7em;
  text-transform: uppercase;
    color: white;
    background-color: rgba(0,0,0,0.15);

    margin-bottom: 10px;
}

.nodrag {
  pointer-events: none;
}

.nocursor {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nowrap {
  white-space: nowrap;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.wrapper {
  padding: 0 9% 0 9%;
}
.hide{
    display: none;
}

.wrapper .wrapper {
  padding: 0;
}

.v-h-center {
  position: absolute;
  /* must be wrapped in relative parent div*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.v-center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.h-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.divider {
  position: relative;
  background-color: #fafaf3;
  width: 100%;
  height: 10px;
  ;
}

.delay {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 10000;
  position: fixed;
  top: 40px;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.delay2,
.delay3,
.delay4,
.delay5 {
  display: none;
}


/*Styling*/
#footer {
  position: relative;

 position: relative;
    margin-top: 10px;
  padding: 30px;
  width: 100%;
  height: 85px;
  color: #333;
  z-index: 1000;
font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;
}
#footer .object{
    width: 90px;
}

#top-menu {
  height: 50px;
  width: 100%;
  background-color: rgba(245, 245, 245, 0.90);
  font-family: 'Lato', sans-serif;
  font-size: 0.7em;
  text-transform: uppercase;
  letter-spacing: 0.001em;
  line-height: 55px;
  position: fixed;
  bottom: 0;
  z-index: 10;
}

#menu {
  position: relative;
    margin-top: 30px;
  padding-top: 10px;
  width: 100%;
  height: 85px;
  color: #333;
  background-color: #fafaf3;
  z-index: 1000;
}

nav {
  float: right;
}

.menu li a {
  color: #424242;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.menu:hover,
.menu:hover li a {
  color: #dcdcdc;
}

.menu li a:hover {
  color: deeppink;
}

nav ul li {
  display: inline;
}

nav ul li a {
  font-family: 'Lato', sans-serif;
  padding: 25px 15px;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 0.6px;
}

.logowrap {
  background-image: url(logo.svg);
  height: 70px;
  width: 170px;
  opacity: 0.8;
}

.imglink {
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

.imglink:hover {
  opacity: 0.65;

}

.logowrap:hover {
  background-image: url(logohover.gif);
}

#content {
  height: auto;
  width: 100%;
  top: 0px;
  background-color: #fafaf3;
  z-index: 5;
  position: relative;
  overflow: hidden;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[class*='col-'] {
  padding-right: 15px;
}

.no {
  padding-right: 0;
}

[class*='col-'] {
  float: left;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

.top {
  padding: 15px 0 0 0;
}

.bottom {
  padding: 0 0 15px 0
}


/* Card1 Styling */

.caption {
  position: relative;
    width: 100%;
            border-radius: 5px;
}

.module {
  width: 100%;
}
#card1 .tag{
    position: absolute !important;
    left: 40px;
    top: 30px;
}
#card1 .caption {

  background-image: url(image1.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: right bottom;
  height: 320px;
}

.caption:hover{
-webkit-box-shadow: 0px 0px 11px -1px rgba(196,172,183,1);
-moz-box-shadow: 0px 0px 11px -1px rgba(196,172,183,1);
box-shadow: 0px 0px 11px -1px rgba(196,172,183,1);

}

#card1 .module {}

#card1 h2 {
  font-size: 5vw;
  color: #b55252;

}

#card1 .lead {
  color: #b55252;
    line-height: 40px;
  font-size: 1.5vw;
}
#card1 .cta{
      color: #b55252;
      font-size: 1.2vw;
    bottom: 50px;
      font-family: 'Lato', Sans-serif;
position: absolute;
}



/* Card2 Styling */

#card2 .module {
  padding: 40px;
}

#card2 .caption {
  background-image: url(image2.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
}

#card2 h2 {
  font-size: 4vw;
  letter-spacing: 0.01vw;
  color: whitesmoke;
  font-family: 'Lato', Sans-serif;
}

#card2 .lead {
  color: whitesmoke;
  font-size: 1.5vw;
}

#card2 .btn {
  margin-top: 1.3vw;
}


/* Card3 Styling */

#card3 .module {
  position: absolute;
  padding: 40px;
  bottom: 0;
}

#card3 .caption {
  background-image: url(image3.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
}

#card3 h2 {
  font-size: 3.5vw;
  letter-spacing: -0.2vw;
  color: #65726b;
  font-family: 'Lato', Sans-serif;
}

#card3 .lead {
  color: #65726b;
  font-size: 1.25vw;
  letter-spacing: 0.01vw;
  line-height: 1px;
}

#card3 .btn {
  margin-top: 1.3vw;
}


/*Card4 Styling*/

#card4 .caption {
  background-color: #72b1d2;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
  color: white;
    overflow: hidden;
}

#card4 h2 {
  font-size: 3.5vw;
  letter-spacing: -0.1vw;
    line-height: 3.5vw;
    color: white;
  font-family: 'Lato', Sans-serif;
    text-transform: uppercase;
}

#card4 .lead {
  font-size: 1.2vw;
  letter-spacing: 0.02vw;
  line-height: 1px;
}

#card4 .module {
    padding: 40px;
}
#card4 .object{
    position: absolute;
    bottom: -180px;

}


/*Card5 Styling*/

#card5 .caption {
  background-image: url(image5.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 475px;
  color: #b55252;
}

#card5 h2 {
  font-size: 3.5vw;
  letter-spacing: -0.1vw;
  color: #65726b;
  font-family: 'Lato', Sans-serif;
    text-transform: uppercase;
}

#card5 .lead {
  font-size: 1.25vw;
  letter-spacing: 0.02vw;
  line-height: 1px;
}

#card5 .btn {}


/*Card6 Styling*/

#card6 {}

#card6 .caption {
  background-image: url(image6.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 475px;
  color: #b55252;
}

#card6 h2 {
  font-size: 3.5vw;
  letter-spacing: -0.1vw;
  color: #65726b;
  font-family: 'Lato', Sans-serif;
    text-transform: uppercase;
}

#card6 .lead {
  font-size: 1.25vw;
  letter-spacing: 0.02vw;
  line-height: 1px;
}

#card6 .btn {
  margin-top: 1.3vw;
}



#holder{
    width: 800px;
    height: 500px;
    position: relative;

}

div#viewport {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    bottom: 180px;
}


.circles {
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    word-break: normal;
    white-space: nowrap;
}
.red {
    width: 605px;
}

.expl{
    width: 800px;
}

.red .circles {
    animation: toleftR 0.96s linear infinite;
    height: 132px;
    margin-left: -132px;
}

.circle-top {
    border-radius: 50%;  display: inline-block;
    margin: 0;  padding: 0;
    box-sizing: border-box;
}

.red .circle-top {
    width: 264px;
    height: 264px;
    border: 11px solid hsl(0, 60%, 75%);
    margin-left: -10px;
}


@keyframes toleftR{
    0%{
        transform: translateX(0)
    }
    100%{
        transform: translateX(-254px)
    }
}

@keyframes toleftO{
    0%{
        transform: translateX(0)
    }
    100%{
        transform: translateX(-188px)
    }
}

@keyframes toleftG{
    0%{
        transform: translateX(0)
    }
    100%{
        transform: translateX(-130px)
    }
}

@keyframes toleftB{
    0%{
        transform: translateX(0)
    }
    100%{
        transform: translateX(-62px)
    }
}

div#explosion {
    margin-bottom: 0;  
    position: absolute;  
    bottom: 0;  
    width: 600px;    
    height: 100%;
    left: 100px;
}
div#explosion-circle {
    animation: explosion 2.88s infinite;
    animation-timing-function: cubic-bezier(0.140, 0.620, 0.405, 0.850);
    animation-direction: normal;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    opacity: 0.5;
}

@keyframes explosion{
    0%{
        opacity: 0;
        transform:translateX(0px) scale(0);
        background-color: hsl(355, 95%, 53%);
    }
    75%{
        opacity: 0.8;
        transform:translateX(0px) scale(0);
        background-color: hsl(355, 95%, 53%);
    }
    81.25%{
        background-color: hsl(200, 86%, 60%);
    }
    87.5%{
        background-color: hsl(120, 65%, 55%);
    }
    93.75%{
        background-color: hsl(60, 100%, 50%);
        opacity: 0.1;
    }
    100%{
        transform:translateX(-254px) scale(1);
        opacity: 0;
    }
}


.subviewport {
    left: 0;
    position: absolute;
    top: 0;  bottom: 0;  overflow: hidden;
}

.orange .circles {
    height: 98px;
    animation: toleftO 0.72s linear infinite;
    margin-left: 17px;
}

.orange {
    width: 505px;  
}

.orange .circle-top {
    width: 200px;
    height: 200px;
    border: 10px solid hsl(43, 77%, 76%);
    margin-left: -10px;
}

.green {
    width: 425px;
}

.green .circle-top {
    width: 140px;
    height: 140px;
    border: 10px solid hsl(123, 55%, 73%);
    margin-left: -10px;
}

.green .circles {
    height: 70px;
    animation: toleftG 0.48s linear infinite;
    margin-left: -70px;
}


.blue {
    width: 365px;
}

.blue .circle-top {
    width: 70px;
    height: 70px;
    border: 8px solid hsl(200, 77%, 73%);
    margin-left: -8px;
}

.blue .circles {
    height: 35px;
    animation: toleftB 0.24s linear infinite;
    margin-left: -35px;
}



.hexagon {
    position: absolute;
    background-color: hsl(355, 95%, 53%);
    text-align: center;
    top: 263px;
    left: 594px;
    z-index: 1;
    animation-duration: 0.96s;
    animation-name: updownR;
}
.hexagon.dude, .hexagon.dude::before, .hexagon.dude::after {
    width: 32px;
    height: 53px;
    border-width: 2px 0 2px 0;
    border-style: solid;
}
.hexagon::before {
    background-color: inherit;
    content: "";
    position: absolute;
    transform: translateY(-2px) rotate(-60deg);
    z-index: 1;
    top: 0;
    left: 0;
    border-color: inherit;
}
.hexagon::after {
    background-color: inherit;
    content: "";
    position: absolute;
    transform: translateY(-2px) rotate(60deg);
    z-index: -1;
    top: 0;
    left: 0;
    border-color: inherit;
}
.box {
    top: 210px;  
    left: 490px;
    position: absolute;
    width: 27px;
    height: 23px;
    background-color: hsl(22, 90%, 50%);

    z-index: 0;
    border-color: hsl(0, 0%, 30%);
    animation-duration: 1.44s;
    animation-name: updownO;
}

.box .face {
    width: 16px;
    height: 0;
    border-bottom: 3px solid;
    position: absolute;
    z-index: 5;
    top: 11px;
    left: 32px;
    border-color: inherit;
}
.box:before {
    width: 16px;
    height: 23px;
    position: absolute;
    content: "";
    top: -2px;
    right: -16px;
    background: inherit;
    border: inherit;
}

.box .face:after, .box .face:before {
    content: "";
    position:absolute;
    width: 0;
    height: 0;
    border-color: inherit; 
    border: 2px solid;
    border-radius: 50%;
    top: -6px;
    border-color: inherit;
}

.box .face:before{
    left: -4px;
}

.box .face:after{
    left: 3px;
}
.dude {
    position: absolute;
    border: 2px solid;  
    padding: 0;
    z-index: 2;
    border-top-color: hsl(0, 0%, 20%);
    border-bottom-color: hsl(0, 0%, 20%);
    border-right-color: hsl(0, 0%, 20%);
    border-left-color: hsl(0, 0%, 20%); 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.rectangle {
    left: 411px;
    top: 302px;
    width: 21px;
    height: 12px;
    background: hsl(120, 65%, 55%);
    animation-duration: .48s;
    animation-name: updownG;
}
.rectangle .face {
    position: absolute;
    top: 7px;
    left: 18px;
    border-top: 3px solid;
    height: 0;
    width: 12px;
    border-color: inherit;
}
.rectangle .face:after {
    position: absolute;
    content: "";
    border-top: 2px solid;
    border-left: 2px solid;
    width: 1px;
    height: 1px;
    border-color: inherit;
    top: -8px;
    left: -1px;
}
.circle.dude {
    top: 277px;
    left: 355px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: hsl(200, 86%, 60%);
    animation-duration: .24s;
    animation-name: updownB;
}
.circle .face {
    position: absolute;
    left: 16px;
    top: 8px;
    width: 17px;
    border-top: 2px solid;
    border-color: inherit;
    z-index: 7;
}
.circle .face:after {
    border-top: 2px solid;
    border-color: inherit;
    width: 17px;
    top: -1px;
    content: "";
    position: absolute;
    transform-origin: 0 0;
    transform: rotateZ(8deg);
}
.circle .face:before {
    position: absolute;
    content: "";
    border-top: 2px solid;  
    border-left: 2px solid;  
    width: 1px;  
    height: 1px;  border-color: inherit;
    top: -7px;
    left: -4px;
    border-radius: 50%;
}

.hexagon .face {
    position: absolute;
    border-top: 3px solid;
    border-color: inherit;
    left: 8px;
    top: 8px;
    width: 26px;
    z-index: 2;
}

.hexagon .face:after {
    position: absolute;
    content: "";
    border-width: 0 3px 3px 0;
    border-style: solid;
    border-color: inherit;
    width: 8px;
    height: 21px;
    left: 12px;
    transform: skewX(11deg);
}

#red-legs{
    position: absolute;
    right: 73px;
    bottom: -20px;
}

#orange-legs{
    position: absolute;
    right: 110px;
    bottom: -20px;
}

@keyframes updownR {
    0%{
        transform: translateY(0px);
        animation-timing-function: cubic-bezier(0,.50,.50,1);
    }
    50%{
        transform: translateY(-96px);
        animation-timing-function: cubic-bezier(.50,0,1,.50) ;
    }
}

@keyframes updownO {
    0%{
        transform: translateY(0px);
        animation-timing-function: cubic-bezier(0.585, 0.240, 0.865, 0.445);     
    }
    25%{
        transform: translateY(75px) rotateZ(90deg);
        animation-timing-function: cubic-bezier(0.070, 0.405, 0.400, 0.820);
    }
    50%{
        transform: translateY(0px) rotateZ(180deg);
        animation-timing-function: cubic-bezier(0.585, 0.240, 0.865, 0.445);
    }
    75%{
        transform: translateY(75px) rotateZ(270deg);
        animation-timing-function: cubic-bezier(0.070, 0.405, 0.400, 0.820);
    }
    100%{
        transform: translateY(0px) rotateZ(360deg);
        animation-timing-function: cubic-bezier(0.585, 0.240, 0.865, 0.445);
    }
}

@keyframes updownG {
    0%{
        transform: translateY(0px) skewX(-25deg) scale(0.8,1.8);
        animation-timing-function: cubic-bezier(0,.50,.50,1);
    }
    50%{
        transform: translateY(-50px);
        animation-timing-function: cubic-bezier(.50,0,1,.50) ;
    }
    100%{
         transform: translateY(0px) skewX(25deg) scale(0.8,1.8);
    }
}

@keyframes updownB {
    0%{
        transform: translateY(0px);
        animation-timing-function: cubic-bezier(.50,0,1,.50);
    }
    50%{
        transform: translateY(25px) scale(1.2,1);
        animation-timing-function: cubic-bezier(0,.50,.50,1);
    }
    100%{
        transform: translateY(0px);
    }
}