/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(Preloader.gif) center no-repeat #fff;
}
body {
	line-height: 1.5em;
    font-family: 'David Libre', serif; 
    font-size: 1em;
    background-color: #fafaf3;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Global Styling */

h2 {
  font-size: 3.5vw;
  line-height: 3.8vw;
}




/*Classes*/
.relative{
    position: relative;
}
.btn {
  position: relative;
  display: inline-block;
  background-color: #f2d5b2;
  color: black !important;
  padding: 1px 20px 1px 20px;
  border-radius: 2px;
  font-family: 'Lato', sans-serif;
  font-size: 0.8em;
  opacity: 1.0 !impotant;
}

.nodrag {
  pointer-events: none;
}
.nocursor{
    -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nowrap {
  white-space: nowrap;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.wrapper {
  padding: 0 9% 0 9%;
}
.wrapper .wrapper{
    padding: 0;
}

.v-h-center {
  position: absolute;   /* must be wrapped in relative parent div*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.v-center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.h-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.divider {
    position: relative;
    background-color:#fafaf3;
    width: 100%;
    height: 10px;;
}
.delay {
    display:none;
    width: 100%;
    height: 100%;
    z-index: 10000;
    position: fixed;
    top: 40px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    
}
.delay2,.delay3,.delay4,.delay5{display: none;}

/*Styling*/
#top-menu{
    height: 45px;
    width: 100%;
    background-color: rgba(245,245,245,0.85);
    font-family: 'Lato', sans-serif;
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 0.001em;
    line-height: 40px;
    position: fixed;
    bottom: 0;
    z-index: 10000;
}
#menu {
  position: relative;
  padding-top: 15px;
  width: 100%;
  height: 85px;
  color: #333;
  background-color: #fafaf3;
  z-index: 1000;
}
nav{
  float: right;
}

.menu li a {
    color: #424242;
      text-align: center;
  text-decoration: none;
  display: inline-block;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.menu:hover,
.menu:hover li a {
  color: #dcdcdc;
}

.menu li a:hover {
  color: deeppink;
}

nav ul li {
  display: inline;
}

nav ul li a {
  font-family: 'Lato', sans-serif;
  padding: 25px 15px;
  text-decoration: none;
  font-size: 0.9em;
  letter-spacing: 0.6px;
}

.logowrap {
  background-image: url(logo.svg);
  height: 70px;
  width: 170px;
  opacity: 0.8;
}

.imglink {
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

.imglink:hover {
  opacity: 0.65;

}

.logowrap:hover {
  background-image: url(logohover.gif);
}

#content {
  height: auto;
  width: 100%;
  top: 0px;
  background-color: #fafaf3;
  z-index: 5;
  position: relative;
  overflow: hidden;
}


*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[class*='col-'] {
  padding-right: 20px;

}
.no{
    padding-right: 0;
}
[class*='col-'] {
  float: left;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.grid:after {
  content: "";
  display: table;
  clear: both;
}
.top {
  padding: 20px 0 0 0 ;
}
.bottom{ 
padding: 0 0 20px 0}
/* Card1 Styling */
.caption{
        position: relative;
}
.module{
    width: 100%;
}

#card1 .caption{
      background-image: url(image1.jpg);
        -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
            background-position: right bottom; 
        height: 320px;

}
#card1 .module{

}
#card1 h2 {
    font-size: 5vw;
  color: #b55252;
}

#card1 .lead {
  color: #b55252;
    font-size: 1.5vw;
}


#card1 .btn{
    margin-top: 1.6vw;
}


/* Card2 Styling */
#card2 .module{
padding: 40px;
}
#card2 .caption{
      background-image: url(image2.jpg);
        -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
     height: 600px;
}
#card2 h2 {
  font-size: 3.5vw;
  letter-spacing: 0.01vw;
  color: whitesmoke;
  font-family: 'Lato', Sans-serif;
}

#card2 .lead {
  color: whitesmoke;
    font-size: 1.5vw;
}



#card2 .btn{
    margin-top: 1.3vw;
}


/* Card3 Styling */
#card3 .module {
position: absolute;
    padding: 40px;
    bottom: 0;
}
#card3 .caption {
 background-image: url(image3.jpg);
        -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 600px;

}

#card3 h2 {
  font-size: 2.7vw;
  letter-spacing: -0.1vw;
  color: #65726b;
  font-family: 'Lato', Sans-serif;
}

#card3 .lead{
    color: #65726b;
    font-size: 1.25vw;
    letter-spacing: 0.02vw;
    line-height: 1px;
}

#card3 .btn{
    margin-top: 1.3vw;
}

/*Card4 Styling*/

#card4 .caption{
     background-image: url(image4.jpg);
        -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
height: 300px;
    color: #b55252;
}

#card4 h2{
    font-size: 2.5vw;
}

#card4 .lead{
    font-size: 1.25vw;
    letter-spacing: 0.02vw;
    line-height: 1px;
}
#card4 .btn{

}

/*Card5 Styling*/
#card5 .caption{
     background-image: url(image5.jpg);
        -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
height: 300px;
    color: #b55252;
}

#card5 h2{
    font-size: 2.5vw;
}

#card5 .lead{
    font-size: 1.25vw;
    letter-spacing: 0.02vw;
    line-height: 1px;
}
#card5 .btn{

}

/*Card6 Styling*/
#card6{

}
#card6 .caption{
       background-image: url(image6.jpg);
        -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
height: 300px;
    color: #b55252;
}

#card6 h2{
    font-size: 2.5vw;
}

#card6 .lead{
    font-size: 1.25vw;
    letter-spacing: 0.02vw;
    line-height: 1px;
}
#card6 .btn{
    margin-top: 1.3vw;
}
#footer {
position: relative;
    z-index: 500000;
  background-color: #f6f6f0;
  width: 100%;
  min-height: 75px;
}